<div ng-controller="AnalyzerController">
  <h1>How British 🇬🇧</h1>
  <form name="form">
    <textarea msd-elastic class="textbox" ng-model="text" name="text" placeholder="" autofocus="autofocus" required></textarea>
    <button class="analyze" class="button" type="submit" ng-click="analyzeText(text)">Analyze</button>
  </form>
  <div class="info">
    <a href="http://emilymalecbrown.com"><i class="material-icons">face</i></a>
    <a ui-sref="info"><i class="material-icons">info</i></a>
    <a href="http://www.github.com/emilymalecbrown/how-british"><i class="material-icons">code</i></a>
  </div>
</div>
