/*body*/
body, h1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: white;
  color: black;
}

h1 {
  text-align: center;
  margin-left: 25px;
}

/*modal overrides*/
.ngdialog.ngdialog-theme-default {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
  background: red;
}

/*form*/
form {
  margin: 0 auto;
  width: 50%;
}
.textbox {
  width: 100%;
  display: block;
  margin: 0 auto 10px auto;
  outline: none;
  resize: none;
  text-align: center;
  font-size: 20px;
  min-height: 200px;
  border: 2px dotted rgb(232,17,45);
}
.textbox:focus {
  outline: none;
}

/*options*/
.options {
  display: flex;
  justify-content: space-around;
}

/*result*/
.result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.result > p {
  padding: 30px;
}

/*result > match text*/
.match {
  color: red;
}

/*converted*/
.converted > p {
  padding: 30px;
}
.converted > button {
  margin-left: 30px;
}

/*buttons*/
button {
  margin: 0 20px 0 20px;
  width: 150px;
  padding: 10px;
  border: none;
  background: none;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  border-radius: 2px;
  font-size: 0.9em;
  background: white;
  color: #646464;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
button:focus {
  outline: none;
}
button:hover {
  background: repeating-linear-gradient(-45deg, rgba(232,17,45, .3) 0px, rgba(232,17,45, .3) 10px, rgba(0, 43, 127, .3) 10px, rgba(0, 43, 127, .3) 20px);
  color: black;
  transition: background, color;
}
.analyze {
  margin: 0 auto;
  margin-bottom: 30px;
}

/*links*/
.info {
  height: 25px;
}
.info > a {
  color: black;
  cursor: default;
  float: right;
  margin: 10px;
  line-height: 25px;
  text-decoration: none;
}
a:focus {
  outline: none;
}
a:hover {
  color: blue;
  transition: color .4s ease-in-out;
}

/*cursor*/
.blinking-cursor {
  font-weight: 400;
  font-size: 50px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
